@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,300&family=Inter:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.homeTitle {
  font-family: "ProximaNova", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 6rem;
  line-height: 96px;
  margin-bottom: 0%;
  letter-spacing: -8px;
}

.homesubtitle {
  font-family: "ProximaNova", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 5rem;
  /* line-height: 96px; */
  color: rgb(143, 137, 137);
  margin-top: 0%;
}


.cvTitle {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: bolder;
  font-size: 2rem;
  line-height: 35px;
  color: rgb(143, 137, 137);
  margin-top: 0%;
  padding-bottom: 0;
}

p {
  font-family: "ProximaNova", monospace;
  font-size: 1rem;
  word-spacing: 8px;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("./FontsFree-Net-Proxima-Nova-Light.otf") format("opentype");
}

.optionNumbers {
  font-family: 'Black Ops One';
  font-size: 2rem;
}

.optionNames{
  font-family: 'Black Ops One';
  font-size: 1rem;
  transform: rotate(-90deg);
  display: flex;
}
