* {
  box-sizing: border-box;
}

/* Container for skill bars */
.container2 {
  width: 100%; /* Full width */
  background-color: rgb(255, 255, 255); /* Grey background */
  border-radius: 25px;
  transition: all 10s ease-out;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  margin-top: 30px;
  
}

.skills {
  text-align: right;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  padding-right: 15px;
  font-size: 0.85rem;
  color: rgb(0, 0, 0);
  display: inline-block;
  line-height: 25px
}

/* @keyframes animateleft {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
} */

.bar {
  background-color: #ffffff;
  border-radius: 25px;
  animation: animateleft 2s;
  border-width: 2px;
  border-color: #000000;
  margin-top:'2rem';
}

.bar:hover {
  background-color: #F6D155;
  cursor: pointer;

}

.skills:hover {
  color: #000000;
  cursor: pointer;

}

.title1 {

  width: 50%;
  padding: 10px;
  text-align: center;
}



